<div class="container">
  Validated the uploaded resource against the
  <% if @profile_urls.count <= 1 %>
     <code><%= @profile_urls.first %></code> StructureDefinition
  <% else %>
    following StructureDefinitions:
    <ul>
      <% @profile_urls.each do |profile_url| %>
        <li><code><%= profile_url %></code></li>
      <% end %>
    </ul>
  <% end %>
  <br/>
  <%= erb(:issues, {}, {issues: @results[:errors], severity: 'error'}) %>

  <%= erb(:issues, {}, {issues: @results[:warnings], severity: 'warning'}) %>

  <%= erb(:issues, {}, {issues: @results[:information], severity: 'information'}) %>
</div>

<div class="container">
  <div id="resourceDisplay"
       data-resource-type="<%= @resource_type %>"
       data-resource-string="<%= @resource_string %>"
       data-issues-errors="<%= Base64.encode64(@results[:errors].to_json) %>"
       data-issues-warnings="<%= Base64.encode64(@results[:warnings].to_json) %>"
       data-issues-information="<%= Base64.encode64(@results[:information].to_json) %>"
  >
  </div>
</div>
